/* Стили для мобильной версии (768px) */
@media screen and (min-width: 768px) {
    /* Отображает основное меню как гибкие элементы */
    .menu--primary {
        display: flex;
    }
    /* Скрывает основное меню */
    .main__menu {
        display: none;
    }
    /*Отключаю разделитель*/
    .header__deliver--hidden {
        display: block;
    }
    /*Раставляем элементы в HEADER*/
    .header {
        justify-content: flex-start;
    }
    .header__wrapper{
        margin-left:0;
        margin-right: 20.73px;
    }

    .header__wrapper-menu {
        margin-right: 0;
        margin-left: auto;
    }
/*На шаблоне отступ решил тоже его сделать.*/
    main{
        margin-right: 15px;
    }

    /* Отображает скрытый текст внутри статьи */
    .article__text--hidden {
        display: initial;
    }


    .article {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin:32px 25px 40px 24px;
    }
    .article__text:first-of-type {
        margin-top: 0;
    }


    .article__text {
        width: auto;
    }


    .article__content {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 40%;
    }


    .text-hidden {
        display: none;
    }

    .article__image{
        width: 46%;
        height: auto;

    }


}