/** {*/
/*    border: 1px solid red;*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/

/* Общие стили */
body {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.wrapper {
    width: auto;
    box-sizing: border-box;
}

/* HEADER */
.header {
    width: auto;
    height: 88px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgb(217, 255, 245);
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__element.menu-burger::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('image/burgerburger.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.deliver {
    width: 2px;
    height: 32px;
    background: rgb(234, 234, 234);
    margin-left: 20px;
}

.menu__deliver {
    margin-left: 5px;
}

.header__deliver--hidden {
    display: none;
}

.header__wrapper-menu {
    margin-right: 0;
    margin-left: auto;
}

.logo {
    width: 97px;
    height: 51px;
}

/* MENU */
.menu {
    display: flex;
    justify-content: flex-start;
    margin: 0 20px;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
}

.menu__item {
    margin: 0;
    padding: 0;
}

.menu__link {
    text-decoration: none;
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.menu__link span {
    display: inline-block;
    margin-left: 8px;
    padding-right: 8px;
}

.menu__link::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.menu__link--call::after {
    background-image: url('image/callcall.svg');
}

.menu__link--write::after {
    background-image: url('image/chatmessage.svg');
}

.menu__link--login::after {
    background-image: url('image/profileuser.svg');
}

.menu__link--status::after {
    background-image: url('image/repairsetting.svg');
}

.menu__link--application::after {
    background-image: url('image/checkstatussearch.svg');
}

.menu__deliver {
    margin: 0;
}

.menu--secondary,
.menu--secondary .menu__list {
    margin-right: 0;
}

.menu__item--hidden-link {
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
}

.menu--primary {
    display: none;
}

/* MAIN */
.main {
    margin: 0;
    padding: 0;
    width: auto;
}

.main section {
    flex-basis: auto;
}

.main__title {
    width: auto;
    text-align: left;
    padding: 0 16px;
    position: relative;
}

.main__title {
    margin-top: 24px;
    margin-bottom: 24px;
}

.main__title::before {
    position: absolute;
    content: "";
    display: inline-block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 16px;
    border-radius: 1px;
    width: 4px;
    height: 40px;
    background: rgb(65, 246, 215);
}

.navigation {
    width: 100%;
    min-height: 42px;
    display: inline;
}

.navigation__list {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.navigation__link {
    text-decoration: none;
    width: auto;
    color: rgb(126, 126, 130);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    display: inline-block;
    padding: 8px 9px 8px 16px;
    flex-wrap: nowrap;
    vertical-align: center;
}

.navigation__link--active {
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;
}

.article {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.article__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.article__text {
    width: auto;
    text-align: left;
    height: auto;
}

.button_read-more {
    display: block;
    width: auto;
    padding: 0;
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    background-color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button_read-more:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('image/expandread-more.svg');
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.article__image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.text-hidden {
    display: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 320px) {
    .menu-burger {
        display: block;
    }

    .menu__item--hidden-link {
        position: relative;
        text-indent: -9999px;
        overflow: hidden;
    }

    .menu__link span {
        display: none;
    }

    .menu--primary {
        display: none;
    }

    .navigation {
        padding: 0;
        margin-left: 16px;
        width: 100%;
        height: 42px;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
    }

    .navigation__list {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .navigation__link {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        display: inline-block;
        padding: 8px 16px;
        color: rgb(126, 126, 130);
        flex-wrap: nowrap;
    }

    .navigation__link--active {
        border: 2px solid rgb(184, 255, 236);
        border-radius: 6px;
    }

    .article {
        width: auto;
        padding-top: 24px;
        padding-bottom: 35px;
        row-gap: 16px;
    }

    .article__content {
        margin-left: 16px;
        margin-right: 16px;
    }

    .article__text--hidden {
        display: none;
    }

    .article__text--primary,
    .article__text {
        margin: 0;
    }

    .article__button {
        margin-left: 0;
        margin-right: auto;
    }

    .main__menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu--primary {
        display: flex;
    }

    .main__menu {
        display: none;
    }

    .header__deliver--hidden {
        display: block;
    }

    .header {
        justify-content: space-around;
    }

    .menu__item--hidden-link {
        position: relative;
        text-indent: -9999px;
        overflow: hidden;
    }

    .menu__link span {
        display: none;
    }

    .menu--primary {
        display: none;
    }

    .navigation {
        width: 100%;
        min-height: 42px;
        display: flex;
    }

    .navigation__list {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .navigation__link {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        display: inline-block;
        padding: 8px 16px;
        color: rgb(126, 126, 130);
        flex-wrap: nowrap;
    }

    .navigation__link--active {
        border: 2px solid rgb(184, 255, 236);
        border-radius: 6px;
    }

    .article__text--hidden {
        display: initial;
    }

    .article {
        width: auto;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 32px;
        padding-bottom: 40px;
        padding-left: 25px;
        padding-right: 25px;
        gap: 48px;
    }

    .article__text:first-of-type {
        margin-top: 0;
    }

    .article__content {
        gap: 10px;
        margin: 0;
    }

    .text-hidden {
        display: none;
    }
}

@media screen and (min-width: 1120px) {
    .header {
        display: none;
    }

    .menu__link span {
        display: initial;
    }

    .main__menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu__item--hidden-link {
        overflow: visible;
        text-indent: initial;
    }

    .main {
        margin-right: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .main__title {
        flex: 1;
        margin-right: 20px;
    }

    .main__menu {
        flex: 1;
        text-align: right;
        margin-top: 42px;
        margin-bottom: 0;
        margin-left: 20px;
    }

    .main__title {
        margin-top: 42px;
        margin-bottom: 0;
    }

    .navigation {
        height: 82px;
        width: 100%;
        margin-top: 8px;
    }

    .navigation {
        overflow-x: initial;
    }

    .navigation__list {
        flex-wrap: wrap;
        overflow-x: clip;
    }

    .navigation__link-hidden {
        display: none;
    }

    .article {
        width: auto;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 7px;
        padding-bottom: 49px;
        padding-left: 35px;
        padding-right: 28.65px;
        gap: 36px;
    }

    .article__content {
        gap: 13.78px;
        margin: 0;
        width: 80%;
    }

    .text-hidden {
        display: inline;
    }
}
