/* Стили для мобильной версии (320px) */
@media screen and (min-width: 320px) {
    body {
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        margin:0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .header {
        width: 100%;
        height: 88px;
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-left:16px;
        padding-right:16px;
    }

    .header__element{}
    .menu-burger{
        width: 40px;
        height: 40px;
    }

    .logo{
        width: 96.55px;
        height: 50.81px;
    }
    .menu{
        display: flex;
    }
    .menu__list {
        margin: 0;
        padding: 0;
    }

    .menu__item {
        display: inline-block;
        margin-left:0;
        margin-right: 16px;
        padding: 0;
        align-self: center;
    }
    .menu__item:last-child {
        margin-right: 0px;
    }

    .menu__link {

        text-decoration: none;
        width: 100%;
        text-align: center;
        height: 100%;

    }

    .menu--primary{
        display: none;
    }
    .menu--secondary{
        align-items: center;

    }
    /* divider */
    .menu--secondary::before{

        content: "";
        display: inline-block;
        margin: 0 20px; /* Расстояние от разделителя до элементов меню */
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background: rgb(234, 234, 234);
        align-self: center;
        top: 3px;


    }
    /*Проверка области наведения*/
    .menu__link:hover {
        background-color: #ef0505;
    }
    /*Иконки меню*/

    .menu-burger::after{
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        background-image: url('image/burgerburger.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu__link{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu__link--call::after{
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        background-image: url('image/callcall.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu__link--write::after{
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        background-image: url('image/chatmessage.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu__link--login::after{
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        background-image: url('image/profileuser.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu__link--status::after{
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        background-image: url('image/repairsetting.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu__link--application::after{
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        background-image: url('image/checkstatussearch.svg');
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
    }
/*Скрыть текст*/
    .menu__item--hidden-link{
        line-height: 0;
        font-size: 0;
        color: transparent;
    }


}

