/* Общие стили для всех элементов */
/** {*/
/*    border: 1px solid red; !* Это временный стиль для отладки *!*/
/*}*/

/* Стили для мобильной версии (320px) */
@media screen and (min-width: 320px) {
    body {
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    h1 {
        color: rgb(27, 28, 33);
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
        text-align: left;
    }

    p {
        color: rgb(27, 28, 33);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    /* Шапка */
    .header {
        width: 100%;
        height: 88px;
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid rgb(217, 255, 245);
    }

    .header__element {
        padding: 0;
    }

    .menu-burger {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logo {
        width: 97px;
        height: 51px;
    }

    .menu {
        display: flex;
    }

    .menu__list {
        margin: 0;
        padding: 0;
    }

    .menu__item {
        display: inline-block;
        margin-left: 0;
        margin-right: 16px;
        padding: 0;
        align-self: center;
    }

    .menu__item:last-child {
        margin-right: 0;
    }

    .menu__link {
        text-decoration: none;
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu__link:hover,
    .menu-burger:hover {
        outline: 1px solid rgb(255, 62, 121);
        border-radius: 50%;
    }

    .menu__link::after,
    .menu-burger::after {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu-burger::after {

        background-image: url('image/burgerburger.svg');
        width: 40px;
        height: 40px;
    }

    .menu__link--call::after {
        content: "";
        background-image: url('image/callcall.svg');
    }

    .menu__link--write::after {
        content: "";
        background-image: url('image/chatmessage.svg');
    }

    .menu__link--login::after {
        content: "";
        background-image: url('image/profileuser.svg');
    }

    .menu__link--status::after {
        content: "";
        background-image: url('image/repairsetting.svg');
    }

    .menu__link--application::after {
        content: "";
        background-image: url('image/checkstatussearch.svg');
    }

    /*Скрыть первое меню на маленьком экране*/
    .menu--primary {
        display: none;
    }
    /*Скрыть текст в меню*/
    .menu__item--hidden-link {
        line-height: 0;
        font-size: 0;
        color: transparent;
    }

    /* Навигация */
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        padding:0;
        padding-left: 16px;
    }

    .navigation__list {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        overflow-x: auto;
        white-space: nowrap;
    }

    .navigation__link {
        width: 246px;
        height: 40px;
        box-sizing: border-box;
        background: rgb(255, 255, 255);
        color: rgb(126, 126, 130);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        padding: 8px 9px 8px 17px;
        margin: 0;
        text-decoration: none;
        min-height: 40px;
    }

    .navigation__list:first-child {
        margin-left: 16px;
    }

    .navigation__link--active {
        border: 2px solid rgb(184, 255, 236);
        border-radius: 6px;
        text-decoration: none;
    }

    /* Основное содержимое */
    .main {
        margin: 0;
        padding: 0;
    }

    .main section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .main__title {
        width: 100%;
        height: 40px;
        text-align: left;
        margin: 0;
        padding: 0 16px;
        vertical-align: center;
    }

    .main__title::before {
        content: "";
        display: inline-block;
        margin-right: 16px;
        border-radius: 1px;
        align-self: start;
        vertical-align: middle;
        width: 4px;
        height: 40px;
        transform: rotate(180.00deg);
        background: rgb(65, 246, 215);
    }

    .article {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .article__text {
        width: 288px;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .article__text--primary{
        padding-top: 8px;
        padding-bottom: 0;
    }

    .article__text--hidden {
        line-height: 0;
        font-size: 0;
        color: transparent;
        display: none;
    }
    /* ReadMore Copy */
    .button_read-more:link{
        all: unset; /*Отключаем все стили. */
        display: block;
        width: 132px;
        height: 48px;
        color: rgb(27, 28, 33);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        background-color: white;
        text-decoration: none;
        border:none;
    }
    .button_read-more:before{
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('image/expandread-more.svg');
        vertical-align: middle;
        margin-right: 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
