@media screen and (min-width: 310px) {

    .header {
        justify-content: space-around;
    }

    .header__wrapper-burger {
        display: block;
        padding: 0;
    }

    /* Отображает иконку бургера */
    .menu-burger {
        display: block;

    }

    /* Скрывает элемент deliver */
    .header__deliver--hidden {
        display: none;
    }

    .menu {
        display: flex;
    }

    /* Скрывает текст ссылки на элемент меню */
    .menu__item--hidden-link {
        position: relative;
        text-indent: -9999px;
        overflow: hidden;
    }

    /* Скрывает основное меню */
    .menu--primary {
        display: none;
    }

    .navigation {
        padding: 0;
        margin: 0;
        margin-left: 16px;
        width: 100%;
        height: 42px;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
    }

    .navigation__list {
        flex-wrap: nowrap; /* Отключаем перенос элементов на новую строку */
        overflow-x: auto;
    }


    .navigation__link {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        display: inline-block;
        padding: 8px 16px;
        color: rgb(126, 126, 130);
        flex-wrap: nowrap;
    }

    /* Стилизует активную ссылку навигации*/
    .navigation__link--active {
        border: 2px solid rgb(184, 255, 236);
        border-radius: 6px;
    }

    /* Центрирует элемент статьи по горизонтали на странице */
    .article {
        margin-left: auto;
        margin-right: auto;
    }

    /* Скрывает текст внутри статьи */
    .article__text--hidden {
        display: none;
    }

    .article__text--primary,
    .article__text {
        margin-bottom: 0;
    }

    /* Регулирует отступ кнопкy статьи */
    .article__button {
        margin-left: 0;
        margin-right: auto;
    }

    .main__menu {
        display: none;
    }


}
