@media screen and (min-width: 1120px) {
    .header {
        display: none;
    }

    .navigation__link-hidden {
        display: none;
    }

    .menu__link span {
        display: initial;
    }

    .main__menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu__item--hidden-link {
        overflow: visible;
        text-indent: initial;
    }

    .main {
        margin-right: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 18px 35px 0 35px;
    }

    .menu__link span {
        margin-right: 8px;
    }

    .main__header {
        padding-top: 42px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 7px;
        gap: 8px;
    }

    .main__title {
        margin-top: 0;
        margin-bottom: 0;
    }

    .article {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 49px;
        vertical-align: top;
    }

    .article__text {
        max-height: 160px;
        flex-basis: 490px;
        overflow: hidden;
    }

    .article__content {
        align-self: flex-start;
    }


    .navigation {
        overflow-x: initial;
        /*padding: 0;*/
        height: 82px;

    }

    .navigation__list {
        flex-wrap: wrap;
        overflow-x: clip;
    }


}