@media screen and (min-width: 767px) {
    .header--padding{
        padding-left: 24px;
        padding-right: 24px;
    }
    .menu__button {
        display: flex;
    }

    .menu--primary {
        display: flex;
    }

    .main__header {
        padding-top: 24px;
        padding-left: 25px;
        padding-bottom: 32px;
        gap: 32px;
    }

    .main__title::before {
        left: -24px;
    }

    .header__deliver--hidden {
        display: block;
    }

    .article {
        padding-right: 25px;
        flex-direction: row;
        gap: 48px;

    }

    .article__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: left;
        max-height: 160px;
        width: 312px;
        overflow: hidden;
    }

    .article__content--size {
        gap: 10px;
        align-self: flex-start;
        padding-left: 25px;
    }
}