/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* HEADER */
.header {
    width: auto;
    height: 88px;
    background: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgb(217, 255, 245);
}

.header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.menu-burger-button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-image: url("../images/burgerburger.svg");
}

.round-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.deliver {
    width: 2px;
    height: 32px;
    background: rgb(234, 234, 234);
    margin-left: 20px;
}

.menu__deliver {
    margin-left: 5px;
}

.header__deliver--hidden {
    display: none;
}

.header__wrapper-menu {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-right: 0;
    /*margin-left: auto;*/
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    width: 97px;
    height: 51px;
    margin-left: 17px;
}

/* MENU */
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
}

.menu__item {
    margin: 0;
    padding: 0;
}

.menu__link {
    text-decoration: none;
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu__link--button {
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu__link--call.round-icon{
    background-image: url("../images/callcall.svg");
}

.menu__link--write.round-icon{
    background-image: url("../images/chatmessage.svg");
}

.menu__link--login.round-icon{
    background-image: url("../images/profileuser.svg");
}

.menu__link--call.round-icon{
    background-image: url("../images/callcall.svg");
}

.menu__link--call.round-icon{
    background-image: url("../images/callcall.svg");
}

.menu__button--status.round-icon {
    background-image: url("../images/repairsetting.svg");
}
.menu__button--application.round-icon {
    background-image: url("../images/checkstatussearch.svg");
}

.menu--primary {
    display: none;
}



/* MAIN */
.main {
    margin: 0;
    padding: 0;
    width: auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #F8F8F8;

}
.main__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}
.main__header{
    /*display: inline-block;*/
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left:12px;
    padding-top:24px;
    padding-bottom:24px;
    gap:16px;
}

.main__menu--hidden{
    display: none;
}

.main section {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding-bottom: 35px;
}

.main__title {
    margin:0;
    height: 40px;
}


.main__title::before {
    content: "";
    display: block;
    position: absolute;
    left: -13px;
    top: 50%;
    margin-top: -20px;
    margin-right: 16px;
    border-radius: 1px;
    width: 4px;
    height: 40px;
    background: rgb(65, 246, 215);
}

.navigation {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*align-items: flex-end;*/
}

.navigation__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation__item {
    margin: 0;
    padding: 0;
}

.navigation__link {
    text-decoration: none;
    color: rgb(126, 126, 130);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    padding: 8px 16px;
}

.navigation__link--active {
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;
}

.article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}

.article__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}

.article__text {
    text-align: left;
    padding: 0;
    margin: 0;
}

.button_read-more {
    width: 138px;
    height: 24px;
    padding: 1px;
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.button_read-more::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-image: url('../images/expandread-more.svg');
    background-size: cover;
}

.article__image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.text-hidden {
    display: none;
}

/*Cкрывать на экранах менее 320px*/
@media screen and (max-width: 319px) {
    html body {
        display: none;
    }
}


