@media screen and (min-width: 768px) {

    .header--padding{
         padding-left: 32px;
         padding-right: 32px;

    }
    .menu--primary {
        display: flex;
    }

    .main__header{
        padding-top: 24px;
        padding-left: 32px;
        padding-bottom: 32px;
        gap:32px;
    }

    .main__title::before{
        margin-left:-32px;
    }

    /*.main__menu {*/
    /*    display: none;*/
    /*}*/

    .header__deliver--hidden {
        display: block;
    }


    /*.header {*/
    /*    justify-content: space-around;*/
    /*    padding-left: 24px;*/
    /*    padding-right: 24px;*/
    /*}*/

    /*.menu__item--hidden-link {*/
    /*    position: relative;*/
    /*    text-indent: -9999px;*/
    /*    overflow: hidden;*/
    /*}*/

    /*.menu__link span {*/
    /*    display: none;*/
    /*}*/

    /*.menu--primary {*/
    /*    display: flex;*/
    /*}*/

    /*.navigation {*/
    /*    width: 100%;*/
    /*    min-height: 42px;*/
    /*    display: flex;*/
    /*}*/

    /*.navigation__list {*/
    /*    flex-wrap: nowrap;*/
    /*    overflow-x: auto;*/
    /*}*/
    

    /*.navigation__link--active {*/
    /*    border: 2px solid rgb(184, 255, 236);*/
    /*    border-radius: 6px;*/
    /*}*/

    /*.article__text--hidden {*/
    /*    display: initial;*/
    /*}*/

    .article {
        width: auto;
        flex-direction: row;
        justify-content: space-between;

        padding-bottom: 40px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .article__text{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: left;
        max-height: 160px;
        width: 312px;
        overflow: hidden;
    }
    .article {

        padding-left: 32px;
        padding-right: 32px;
    }

    .article__content {
        gap:8px;
    }
    /*.article__text:first-of-type {*/
    /*    margin-top: 0;*/
    /*}*/

    /*.article__content {*/
    /*    gap: 10px;*/
    /*    margin: 0;*/
    /*}*/

    /*.text-hidden {*/
    /*    display: none;*/
    /*}*/

    /*.main header{*/
    /*    padding-left:24px;*/
    /*}*/
    /*.main__title::before {*/

    /*    left: -23px;*/
    /*}*/


}