/* Media Queries */
@media screen and (min-width: 319px) {
    .navigation {
        overflow-x: hidden;
    }

    .article__text--size{
        width: 288px;
        max-height: 90px;
        overflow: hidden;
        justify-content: center;
    }

    .article__content--size{
        padding-left:16px;
        padding-bottom: 16px;
    }


}
